<!DOCTYPE html>
    <head> 
        <title> Help </title>
        <link rel='icon' href='/img/weather.png'>
        <link rel="stylesheet" href="/css/style.css"> 
    </head>

    <body>
        {{>header}}
        <h1> {{helpText}} </h1>
        {{>footer}}
    </body>
</html>